// Game Index
.index-games_container {
  @include col();
  align-items: flex-start;
  // align-items: stretch;
  // justify-content: stretch;
  width: 90%;
}

.index-game_entry-container {
  @include row();
  align-items: center;
  // justify-content: stretch;
  margin: $ems--ml $ems--l;
  min-height: 180px;
}

.index-game_entry {

  h3, h4, p {
    margin: $ems--s;
    margin-left: $ems--ml;
  }
}

.index-game_entry--links {
  padding: $ems--s 0 $ems--s;

  a {
    span:hover {
      // TODO: fix transformation
      // display: inline-block;
      text-shadow: $ems--s $ems--s $ems--s $c-gray-dark;
      // transform: scale(1.2);
      // -webkit-transform: scale(1.2);
      // -moz-transform: scale(1.2);
      // -ms-transform: scale(1.2);
      // -o-transform: scale(1.2);
    }
  }
}
