// Game Index
.games_container {
  @include col();
  align-items: flex-start;
  // align-items: stretch;
  // justify-content: stretch;
  width: 90%;
}

.game_entry-container {
  @include row();
  align-items: stretch;
  justify-content: stretch;
  margin: .5em 0;
  min-height: 150px;
}

.game_entry {
  // @include col();
  // align-items: center;
  margin-bottom: $ems--l;

  * {
    margin: $ems--s;
  }
}

.game_entry--links {
  padding: $ems--s 0 $ems--s;

  a {
    span:hover {
      // TODO: fix transformation
      // display: inline-block;
      text-shadow: $ems--s $ems--s $ems--s $c-gray-dark;
      // transform: scale(1.2);
      // -webkit-transform: scale(1.2);
      // -moz-transform: scale(1.2);
      // -ms-transform: scale(1.2);
      // -o-transform: scale(1.2);
    }
  }
}
