// Devise Stuffz
.devise__new-user {
  max-width: 300px;
}

.devise__links {
  @include col();
  align-items: center;

  * {
    background: $c-black;
    border: $ems--s solid $c-white;
    box-shadow: $ems--m $ems--m $ems--m $c-gray;
    padding: $ems--m;
    // max-width: $ems--xxl;
  }
}


// User Forms
// .new_user {
//   // TODO...
// }


// Game Forms
.new_owned_game, .edit_owned_game {
  * {
    margin: $ems--s 0;
    padding: $ems--s;
  }
}

.new_owned_game--fields {
  display: flex;
  align-content: center;
  align-items: center;
}