// Game Forms
.new_owned_game, .edit_owned_game {
  * {
    margin: $ems--s 0;
    padding: $ems--s;
  }
}

.new_owned_game--fields {
  display: flex;
  align-content: center;
  align-items: center;
}