// Box Model
body,
body * {
  box-sizing: border-box;
  background-color: $c-gray-mid;
  color: $c-white;
}


// Responsive images
img,
svg {
  height: auto;
  margin: 0;
  max-width: 100%;
}


// Links
a {
  // @include focus(default);
  outline: 0;
  text-decoration: none;
}


// Lists
ul {
  list-style-type: none;
}

// Site
.site {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  // display: flex;
  @include col();
  // @include row();
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  top: 0;
  bottom: 0;
  height: 100vh;
}

.main {
  // @include clearfix();
  @include col();
  align-items: center;
  // flex-grow: 11;
  // -webkit-box-ordinal-group: 2;   /* OLD - iOS 6-, Safari 3.1-6 */
  // -moz-box-ordinal-group: 2;      /* OLD - Firefox 19- */
  // -ms-flex-order: 2;              /* TWEENER - IE 10 */
  // -webkit-order: 2;               /* NEW - Chrome */
  // order: 2;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
  
  height: 100%;
  top: $ems--xxl;
  width: (100% - 7.5%);

  // * {
  //   justify-content: center;
  //   text-align: center;
  // }
}

.main__footer {
  flex-shrink: 0;
}

// Devise Messages
.devise__notice {
  background: $bg-none;
  display: block;
  text-align: center;
}

.devise__alert {
  background: red;
  display: block;
  text-align: center;
  width: 100%;
}