// Box Model
body,
body * {
  box-sizing: border-box;
  background-color: $c-gray-mid;
  color: $c-white;
}


// Responsive images
img,
svg {
  height: auto;
  margin: 0;
  max-width: 100%;
}


// Links
a {
  // @include focus(default);
  outline: 0;
  text-decoration: none;
}


// Lists
ul {
  list-style-type: none;
}

// Site
.site {
  @include col();
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  top: 0;
  bottom: 0;
  height: 100vh;
}

.main {
  @include col();
  align-items: center;
  
  height: 70%;
  top: $ems--2xl;
  width: (100% - 7.5%);
}

.main__footer {
  flex-shrink: 0;
}

// Devise Messages
.devise__notice {
  background: $bg-none;
  display: block;
  text-align: center;
}

.devise__alert {
  background: red;
  display: block;
  text-align: center;
  width: 100%;
}