<% if current_user %>
  <h2>Your Games</h2>
<% elsif @user %>
  <h2><%= @user.username %>'s Games</h2>
<% else %>
  <h2>All Games</h2>
<% end %>

<% if @games.length > 0 %>
  <div class="games-container">

    <% @games.each do |game| %>
      <div class="game-entry">

        <% game.display_attributes.each do |key, val| %>
          <% if !val.blank? %>
            <p><%= key %>: <%= val %></p>
          <% end %>
        <% end %>

        <% if current_user %>
          <p class="game-entry__edit-link">
            <%= link_to "Edit this entry", edit_user_owned_game_path(current_user, game) %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
<% else%>
  <p>Looks like you don't have any games! Add one to your Journal here.</p>
<% end %>