<% if current_user %>
<% end %>

<% if @games.length > 0 %>
  <ul>
    <% @games.each do |game| %>
      <% game.attributes.each do |name, val| %>
        <% if val %>
          <li><%= name %>: <%= val %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% else%>
  <p>Looks like you don't have any games! Add one to your Journal here.</p>
<% end %>