// Header text
.header-text {
  font-size: $ems--mxl;
  text-shadow: $ems--m $ems--m $ems--m $c-gray-dark;
  text-align: center;
}


.banner {
  background: $c-blue;
  border: 10px dotted $c-green;
  text-align: center;
  margin: 0 ($rems--5xl * 2);
  position: absolute;
  top: $ems--ml;
  left: 0;
  right: 0;
  min-width: 60%;
  min-height: 7.5%;

  * {
    background: $bg-none;
    color: $c-orange;
    font-size: 150%;
    position: relative;
  }
}