// Nav
.nav-container {
  @include col();

  background-color: $c-black;
  border-left: 0.5em solid $c-green;
  border-right: 0.5em solid $c-orange;
  // border-bottom: 0.1em solid $c-gray-mid-3;
  color: $c-white;
  font-size: 1.05em;
  overflow: hidden;
  padding-top: $ems--ml;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.nav-item {
  background-color: $c-black;
  flex-basis: auto;
  padding: $ems--ml;
  width: 100%;

  &:hover {
    background: $c-blue;
  }
}