// Layout
.separator {
  clear: both;
  // display: block;
  // background: $c-gray-dark;
  // max-height: 3px; 
}


// Images
.image_placeholder {
  border: $ems--s solid $c-black;
  height: 150px;
  max-width: 100px;
  overflow-wrap: break-word;
}