@mixin col() {
  display: flex;
  flex-direction: column;
}

@mixin row() {
  display: flex;
  flex-direction: row;
}

@mixin inline-col() {
  display: inline-flex;
  flex-direction: column;
}

@mixin inline-row() {
  display: inline-flex;
  flex-direction: row;
}